.chat-main
  .main-header
    .main-header__left__box
      %p.current-group 
        = @group.name
      %p.member-list
        Member：
        - @group.group_users.each do |group_user|
          = group_user.user.name
    = link_to edit_group_path(params[:group_id]) do
      .edit-btn Edit
  .messages
    = render @messages
  .form
    .new-comment
      .new-comment__box
        = form_for [@group, @message] do |f|
          .new-comment__box
            = f.text_field :content, class: 'input-text', placeholder: 'type a message'
            = f.label :image, class: 'comment__image' do
              %i.fa.fa-image
              %input{type: "file"}
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'submit-btn'